body {
	overflow: none;
}

.header {
 padding: 5px;
 font-size: 2em;
}

h4 {
	font-size: 1.5em !important;
}

.nav-wrapper {
	z-index: 999 !important;
 	position: relative;
 	box-shadow: none;
}
.nav-wrapper:before {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
              0 2px 10px 0 rgba(0,0,0,0.12);
  pointer-events: none;
  content:"";
}

.node circle {
 stroke: #000;
 stroke-width: 4px;
}

.link {
  fill: none;
  stroke-width: 7px;
}

#cards {
	margin-top: 20px;
	overflow: scroll;
}

.card {
	margin: 10px;
}
.card img {
	height: 200px;
}
.card-title {
	font-size: 1.4em !important;
	line-height: 1.2em !important;
}

#graph {
	margin: 0px;
	border: 0px;
	overflow: none;
}

#article-container {
	position: fixed;
	z-index: 1 !important;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 30%;	
	padding: 70px 10px 10px;						
  background: #eff0f1;	
  border: 0px;
  margin:0px;	
  box-shadow:-2px 2px 5px 0 rgba(0,0,0,0.16),
             -2px 2px 10px 0 rgba(0,0,0,0.12);
  overflow: scroll;
}
#article-container h1 {
	font-size: 2em;
	line-height: 110%;
}
#article-container h2 {
	font-size: 1.2em;
	font-style: italic;
}
