*.aux
*.log
*.toc
*.synctex.gz
*.out
*.bbl
*.blg
*.lof
*.lot
*.lol
*.loa
*.toc
*.pyc
*minted*
*.sty
doc/.texpadtmp/*
/doc/example/*
*.DS_Store
*.gz
*api_key
io_ignore
doc/data*
evaluation*
data-science-is-hard*
*.gdraw
*.pages
*.numbers
*.spv
